@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ID cards */
.single-id-card {
  display: flex;
  margin-bottom: 1em;
  border: 2px black solid;
}

.id-picture {
  width: 200px;
  margin: 1em;
}

.id-info {
  text-align: left;
  margin-left: 1em;
}

/* Greetings */

.single-greeting {
  border: 2px black solid;
  width: 80%;
  margin: 0 auto 1em auto;
}
.single-greeting h3 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 1em;
}

/* Random */
.single-random {
  border: 2px black solid;
  width: 80%;
  margin: 0 auto 1em auto;
}

.single-random h3 {
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 1em;
}

/* Box color */
.single-box-color {
  padding: 1em 3em;
  margin: 0 auto 1em auto;
  width: 80%;
  border: 2px black solid;
}

.single-box-color h3 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 1em;
}

/* Credit Card */
.credit-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-credit-card {
  margin-right: 1em;
  width: 30%;
  height: 13em;
  max-width: 20em;
  border-radius: 25px;
  position: relative;
}

.credit-card-info {
  display: flex;
  flex-direction: column;
}

.credit-card-type-image {
  height: 20px;
  margin-top: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.credit-card-number {
  font-size: 1.5em;
  padding-top: 2em;
}

.credit-card-dates-name {
  text-align: left;
  margin-left: 2em;
}

.credit-card-dates-name p {
  margin: 0;
  padding-bottom: 0;
}

/* Driver card */

.single-driver-card {
  display: flex;
  background-color: rgb(0, 74, 160);
  border-radius: 15px;
  color: white;
  margin: 0 auto 1em auto;
  width: 30%;
}

.driver-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding: 1em;
}

/* Dice */

.dice img {
  height: 5em;
  width: 5em;
}

/* Numbers Table */
.numbers-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 35em;
  margin: 0 auto;
}

.single-number {
  width: 100px;
  height: 100px;
  border: black solid 1px;
  text-align: center;
}

.single-number.red {
  background-color: red;
  color: white;
}

/* Facebook */

.single-country-button {
  margin-right: 1em;
  border-radius: 10px;
}

.highlighted {
  background-color: lightskyblue;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  border: none;
}

form .valid {
  border: green 3px solid;
}

form .invalid {
  border-color: red;
}

form .error {
  display: block;
}

form .non-error {
  display: none;
}
